<?xml version="1.0" encoding="utf-8"?>
<!--
     This configuration file is required if iisnode is used to run node processes behind
     IIS or IIS Express.  For more information, visit:

     https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->

<configuration>
  <system.webServer>
    <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
          <add segment="node_modules" />
          <add segment="src" />
          <add segment="webpack" />
          <add segment="views" />
          <add segment="tests" />
          <add segment="styles" />
          <add segment="storage" />
          <add segment="config" />
          <add segment="iisnode" />
          <add segment="lib" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
  	<modules>
  	  <remove name="WebDAVModule" />
  	</modules>
    <handlers>
      <add name="iisnode" path="iisnode.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for logs -->
        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$"/>
        </rule>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="DynamicContent">
        <conditions>
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
        </conditions>
        <action type="Rewrite" url="iisnode.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode devErrorsEnabled="false" debuggingEnabled="false" loggingEnabled="false" nodeProcessCommandLine="C:\\\nodejs\\node.exe --harmony" node_env="production" />
    <directoryBrowse enabled="false" />
  </system.webServer>
  <appSettings>
    <add key="DEBUG" value="dev" />
  </appSettings>
</configuration>