<!doctype html>
<html class="no-js" lang="zh-tw">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{#each assets.style}}
      <link rel="stylesheet" href="{{this}}">
    {{/each}}
    <title>Oursweb</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {{{body}}}
    {{#each assets.script}}
      <script src="{{this}}"></script>
    {{/each}}
  </body>
</html>
