@charset "UTF-8";

html {
  font-size: 1rem;
  -webkit-overflow-scrolling: touch;
}

:-ms-input-placeholder {
  color: #acacac !important;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 1);

  font-smoothing: antialiased;
  hyphens: auto;
  font-family: 'Helvetica Neue', Arial, Verdana, 'PingFang TC', 'PingFang SC', 'Lantinghei TC', 'Lantinghei SC', 'Heiti TC', 'Heiti SC', 'Noto Sans CJK TC', 'Noto Sans CJK SC', 'Hiragino Kaku Gothic ProN', 'PMingLiU-ExtB', 'PMingLiU', sans-serif;

  a {
    text-decoration: none;
    font-smoothing: antialiased;
    hyphens: auto;
    font-family: 'Helvetica Neue', Arial, Verdana, 'PingFang TC', 'PingFang SC', 'Lantinghei TC', 'Lantinghei SC', 'Heiti TC', 'Heiti SC', 'Noto Sans CJK TC', 'Noto Sans CJK SC', 'Hiragino Kaku Gothic ProN', 'PMingLiU-ExtB', 'PMingLiU', sans-serif;

    &:hover {
      text-decoration: underline;
    }
  }

  background: rgba(252, 173, 49, 1);
}

a.delete {
  text-decoration: line-through;
}

#admin {
  height: 100%;
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 1) 23%,
      rgba(252, 173, 49, 1) 76%
    );
}

main.ui.stackable.page {
  padding-top: 32px;
  user-select: none;
}

ul.pagination {
  display: inline-block;
}

ul.pagination li {
  display: inline-block;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border: none;
  vertical-align: baseline;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

ul.pagination li.active a {
  color: orange;
}

ul.pagination > ul > li > a, ul.pagination > li > a {
  display: inline-block;
  padding: 8px 18px;
  &:hover {
    text-decoration: none;
  }
}

ul.pagination .break a {
  cursor: default;
}

table.ui.table {
  color: #999;
  background: transparent;
}

table.ui.table tbody {
  background: #fff;
}

.table .title {
  width: 60%;
}

.table .name {
  width: 35%;
}

.table .ocname {
  width: 25%;
}

.table .email {
  width: 35%;
}

.table .date {
  width: 25%;
  white-space: nowrap;
}

td.table .ocname {
  width: 300px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.table.title a {
  width: 280px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.table.email > .ui.header {
  cursor: pointer !important;
}

.ui.form.segment, .ui.tab.segment {
  background: transparent;
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 1) 73%,
      rgba(255, 255, 255, 0.88) 20%
    );
  border: none;
}
