@charset "UTF-8";

html {
  font-size: 1rem;
  -webkit-overflow-scrolling: touch;
  background: rgba(255, 255, 255, 1);
}

:-ms-input-placeholder {
  color: #acacac !important;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1rem;

  font-smoothing: antialiased;
  hyphens: auto;
  font-family: 'Helvetica Neue', Arial, Verdana, 'PingFang TC', 'PingFang SC', 'Lantinghei TC', 'Lantinghei SC', 'Heiti TC', 'Heiti SC', 'Noto Sans CJK TC', 'Noto Sans CJK SC', 'Hiragino Kaku Gothic ProN', 'PMingLiU-ExtB', 'PMingLiU', sans-serif;

  a {
    text-decoration: none;
    font-smoothing: antialiased;
    hyphens: auto;
    font-family: 'Helvetica Neue', Arial, Verdana, 'PingFang TC', 'PingFang SC', 'Lantinghei TC', 'Lantinghei SC', 'Heiti TC', 'Heiti SC', 'Noto Sans CJK TC', 'Noto Sans CJK SC', 'Hiragino Kaku Gothic ProN', 'PMingLiU-ExtB', 'PMingLiU', sans-serif;

    &:hover {
      text-decoration: underline;
    }
  }

  background: rgba(252, 173, 49, 1);
}

#admin {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 1) 30%,
      rgba(252, 173, 49, 1) 100%
    );
}

main.ui.stackable.page {
  padding-top: 32px;
  user-select: none;
}
