$transition-duration: 28ms;

.RouteTransition-enter, .RouteTransition-leave {
  backface-visibility: hidden;
  transition: opacity $transition-duration ease-in;
}

.RouteTransition-enter {
  opacity: 0.01;
  &.RouteTransition-enter-active {
    opacity: 1;
  }
}

.RouteTransition-leave {
  opacity: 1;
  &.RouteTransition-leave-active {
    opacity: 0.01;
  }
}

