.image.logo {
  margin: 0 auto;
  display: inline-block;
  width: 250px;
  height: 57px;
  background-image: url('../../images/ccnda.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .image.logo {
    background-image: url('../../images/ccnda@2x.png');
    background-size: 250px 57px;
  }
}

.image.logo.admin {
  margin-top: 10px;
}

.image.logo-oursevents {
  margin: 0 auto;
  display: inline-block;
  width: 152px;
  height: 152px;
  background-image: url('../../images/oursevents.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .image.logo-oursevents {
    background-image: url('../../images/oursevents@2x.png');
    background-size: 152px 152px;
  }
}
