@import 'fonts';

html {
  font-size: 100%;
}

body {
  background: #f5f5f5;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

select {
  appearance: none;
}

main.ui.stackable.page {
  position: absolute;
  width: 100%;
  padding-top: 64px;
}

.ui.locale-switcher {
  text-align: center;
  select {
    text-align: center;
    padding: 1em 1.2em 1em 1.2em;
    margin: -2em;
    appearance: none;
    text-overflow: '';
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 0.9em;
    font-family: 'Roboto';
    color: white;
    background: transparent;

    &:focus {
      outline: 0;
    }
  }
}

