html, body {
  height: 100%;
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

body {
  background: #f5f5f5;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

select {
  appearance: none;
}

.ui.menu.fixed.top {
  font-size: 96%;
}

.ui.post.card {
  max-height: 132px;
  min-height: 132px;

  .content > .header > a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.ui.detail {
  .content > .header {
    font-size: 1.1rem !important;
    color: #0066cc;
    display: block;
  }

  .description {
    word-wrap: break-word;
    padding: 1rem;
  }
}

.ui.category {
  margin-top: 10px;
}

.scroll-content {
  margin: 0;
  padding: 2px;
  overflow-y: auto !important;
}

.switch-btns {
  margin-left: 20px;
}

main.ui.stackable.full.page {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 64px;
  user-select: none;
}

main.ui.stackable.page {
  padding-top: 64px;
  user-select: none;
}

.ui.has-header {
  padding-top: 64px;
  .active.dimmer {
    padding-top: 64px;
  }
}

.content.hide {
  display: none;
}

.fileName {
  color: #0066cc;
  position: relative;
  width: 150px;
}
.fileName a {
  color: #0066cc;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.fileName:after {
  content: attr(data-filetype);
  position: absolute;
  left: 100%;
  top: 0;
}

.fileName:hover {
  width: auto
}
.fileName:hover:after {
  display: none;
}

#map {
  positive: relative;
  width: auto;
  height: 431px;
  padding: 0;
  margin: 0;
  user-select: none;
}

/* iPhone 2G-4S in portrait & landscape */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  #map {
    height: 180px;
  }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #map {
    height: 180px;
  }
}

/* iPhone 2G-4S in portrait & landscape */
@media only screen
and (min-width : 375px)
and (max-width : 667px) {
  #map {
    height: 180px;
  }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  #map {
    height: 180px;
  }
}

/* iPhone 6 in portrait & landscape  */
@media only screen
and (min-width : 375px)
and (max-width : 667px) {
  #map {
    height: 300px;
  }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  #map {
    height: 300px;
  }
}

/* iPad in portrait */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
  .post.detail > .column {
    width: 100% !important;
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .post.detail > .column {
    width: 100% !important;
  }
}
