@charset "UTF-8";

html {
  font-size: 1rem;
  -webkit-overflow-scrolling: touch;
}

input {
  font-family: 'Helvetica Neue', Arial, Verdana, 'PingFang TC', 'PingFang SC', 'Lantinghei TC', 'Lantinghei SC', 'Heiti TC', 'Heiti SC', 'Noto Sans CJK TC', 'Noto Sans CJK SC', 'Hiragino Kaku Gothic ProN', 'PMingLiU-ExtB', 'PMingLiU', sans-serif !important;
}

:-ms-input-placeholder {
  color: #acacac !important;
  font-family: 'Helvetica Neue', Arial, Verdana, 'PingFang TC', 'PingFang SC', 'Lantinghei TC', 'Lantinghei SC', 'Heiti TC', 'Heiti SC', 'Noto Sans CJK TC', 'Noto Sans CJK SC', 'Hiragino Kaku Gothic ProN', 'PMingLiU-ExtB', 'PMingLiU', sans-serif !important;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 1);

  font-smoothing: antialiased;
  hyphens: auto;
  font-family: 'Helvetica Neue', Arial, Verdana, 'PingFang TC', 'PingFang SC', 'Lantinghei TC', 'Lantinghei SC', 'Heiti TC', 'Heiti SC', 'Noto Sans CJK TC', 'Noto Sans CJK SC', 'Hiragino Kaku Gothic ProN', 'PMingLiU-ExtB', 'PMingLiU', sans-serif !important;

  a {
    text-decoration: none;
    font-smoothing: antialiased;
    hyphens: auto;
    font-family: 'Helvetica Neue', Arial, Verdana, 'PingFang TC', 'PingFang SC', 'Lantinghei TC', 'Lantinghei SC', 'Heiti TC', 'Heiti SC', 'Noto Sans CJK TC', 'Noto Sans CJK SC', 'Hiragino Kaku Gothic ProN', 'PMingLiU-ExtB', 'PMingLiU', sans-serif !important;

    &:hover {
      text-decoration: underline;
    }
  }

  background: rgba(255, 255, 255, 1);
}

#app {
  background-image:
    linear-gradient(
      rgba(252, 173, 49, 1) 36%,
      rgba(255, 255, 255, 0.0) 100%
    );
}

h1, h2, h3, h4, h5, h6, .ui.header.divider, .ui.pointing.label, .ui.message > .header, .ui.button > span {
  font-family: 'Helvetica Neue', Arial, Verdana, 'PingFang TC', 'PingFang SC', 'Lantinghei TC', 'Lantinghei SC', 'Heiti TC', 'Heiti SC', 'Noto Sans CJK TC', 'Noto Sans CJK SC', 'Hiragino Kaku Gothic ProN', 'PMingLiU-ExtB', 'PMingLiU', sans-serif !important;
}

@media only screen and (min-width: 1280px) {
  main {
    margin: 0 auto !important;
    width: 1280px;
  }
}

select {
  appearance: none;
}

.disable-pointer {
  pointer-events: none !important;
}

input.hide-submit {
  position: absolute;
  left: -9999px;
}

.ui.warning.message {
  box-shadow: none;
  background: rgba(255, 255, 255, 0.7);
}

.ui.inverted.menu.top {
  a {
    font-weight: bold;
  }
  background: rgba(1, 1, 1, 0.72);
}

.ui.list > .item > .more {
  .label {
    vertical-align: top !important;
    font-size: 80%;
  }

  & {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

    span {
      vertical-align: middle !important;
    }
  }
}

.ui.cards > div {
  width: 100%;
}

.ui.center {
  text-align: center;
}

.ui.menu.fixed.top {
  font-size: 96%;
}

.ui.message {
  h3 {
    font-weight: bold;
    text-shadow: 0 0 0;
  }
}

.row.padding {
  padding: 10px 40px;
}

/* iPhone 2G-4S in portrait & landscape */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  .row.padding {
    padding: 0;
  }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .row.padding {
    padding: 0;
  }
}

/* iPhone 6 in portrait & landscape  */
@media only screen
and (min-width : 375px)
and (max-width : 667px) {
  .row.padding {
    padding: 0;
  }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .row.padding {
    padding: 0;
  }
}

.ui.orange.message {
  opacity: 0.9;
  filter: alpha(opacity=90);
  box-shadow: inset 0 0 8px rgba(255, 244, 0, 0.15);
  background: rgba(255, 255, 255, 1);
  a {
    width: 100%;
    display: block;
    color: rgba(0, 0, 0, .4);
  }
}

.ui.post.card.divider {
  width: 100%;
  height: 30px;
  border: none;
  box-shadow: none !important;
  background: transparent;
}

.ui.post.card {
  opacity: 0.9;
  filter: alpha(opacity=90);
  border: none;
  box-shadow: inset 0 0 16px rgba(255, 244, 0, 0.1);
  padding: 0;
  margin: 0;
  .content {
    .title > a {
      letter-spacing: 0.08rem;
      font-size: 1.44rem;
      line-height: 2.1rem;
      padding: 0 !important;
      margin: 0 !important;
      color: rgba(219, 80, 50, 0.92);
      width: 80%;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 1.6rem !important;
    }
  }
}

.ui.location > .floated {
  text-shadow: 0 0 0;
  color: #999;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.fluid.ui.huge.teal.button {
  background: rgba(31, 181, 173, .64);
}

.ui.detail {
  margin-left: 0;
  opacity: 0.95;
  filter: alpha(opacity=95);
  box-shadow: none;
  .content {
    background: rgba(255, 255, 255, 0.97);

    h1 {
      letter-spacing: 0.08rem;
      font-size: 1.6rem;
      color: rgba(219, 80, 50, 0.92);
    }
  }

  .description {
    padding: 1rem;

    > div, span {
      color: #555;
      line-height: 2rem;
    }

    p {
      text-shadow: 0 0 0;
      text-align: justify;
      word-wrap: break-word;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .ui.detail {
    .description {
      padding: 1em 2.2em;

      > div, span {
        line-height: 2.1rem;
      }
    }
  }
}

@media only screen and (max-width: 1079px) {
  .ui.detail {
    .description {
      > div, span {
        line-height: 2rem;
      }
    }
  }
}

.ui.category {
  margin-top: 10px;
}

.fluid.ui.orange.button {
  color: rgba(255, 255, 255, 0.9) !important;
  text-shadow: 0 0 3px gold;
  background: rgba(252, 88, 13, 0.67) !important;
}

.ui.stackable.container.menu, .ui.stackable.container.menu > .item {
  box-shadow: none;
  border: none;
  background: rgba(255, 255, 255, 0.8);
}

.ui.form.segment, .ui.tab.segment {
  border: none;
  background: rgba(255, 255, 255, 0.88);
}

.scrollable {
  margin: 0;
  padding: 0;
  overflow-y: auto !important;
  overflow-x: hidden;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}

.switch-btns {
  margin-top: -16px;
  text-align: center;
  a.button {
    display: block;
  }
}
/* iPhone 2G-4S in portrait & landscape */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  .switch-btns {
    a.button {
      font-size: 0.8rem !important;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .switch-btns {
    a.button {
      font-size: 0.8rem !important;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

main.ui.stackable.full.page {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 64px;
  user-select: none;
}

main.ui.stackable.page {
  padding-top: 64px;
  user-select: none;
}

.ui.has-header {
  padding-top: 64px;
  .active.dimmer {
    padding-top: 64px;
  }
}

.ui.grid.container {
  margin: 0;
}
/* small screen */
@media only screen
and (max-width : 736px) {
  .ui.grid.container > .column:not(.row) {
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
}
@media only screen
and (max-device-width : 736px) {
   .ui.grid.container > .column:not(.row) {
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
}

.content.hide {
  display: none;
}

ul.fileList {
  margin: 0;
  margin-left: -40px;
  list-style-type: none;
}

ul.fileList > li {
  width: 100%;
}

ul.fileList > li > div {
  color: #ee9900;
  position: relative;
  width: 225px;
  margin-bottom: 12px !important;
}

ul.fileList > li > div > a {
  color: #fff;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 52px;
  padding-top: 20px !important;
  padding-bottom: 3px !important;
}

ul.fileList li > div:after {
  font-size: 120%;
  white-space: nowrap;
  content: "[ " attr(data-filetype) " ]";
  position: absolute;
  left: 10px;
  top: 5px;
  color: #fff;
}

ul.fileList li > div:hover {
  width: auto;
  margin-left: 0;
}

#map {
  positive: relative;
  width: auto;
  height: 431px;
  padding: 0;
  margin: 0;
  user-select: none;
}

/* iPhone 2G-4S in portrait & landscape */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  #map {
    height: 180px;
  }

  .ui.detail {
    margin-left: 0;

    .description {
      font-size: 1.1rem !important;
      line-height: 2rem !important;
    }
  }

  .ui.post.card {
    .content {
      .title > a {
        font-size: 1.2rem;
        line-height: 1.8rem;
        width: 100%;
        margin-top: 1.6rem !important;
      }
    }
  }

  .ui.scrollable {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .content > .ui.orange.ribbon.label {
    top: 5px !important;
    font-size: 1.1rem !important;
  }

  .ui.location > .floated {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
    width: 100%;
  }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #map {
    height: 180px;
  }

  .ui.detail {
    margin-left: 0;

    .description {
      font-size: 1.1rem !important;
      line-height: 2rem !important;
    }
  }

  .ui.post.card {
    .content {
      .title > a {
        font-size: 1.2rem;
        line-height: 1.8rem;
        width: 100%;
        margin-top: 1.6rem !important;
      }
    }
  }

  .ui.scrollable {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .content > .ui.orange.ribbon.label {
    top: 5px !important;
    font-size: 1.1rem !important;
  }

  .ui.location > .floated {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
    width: 100%;
  }
}

/* iPhone 2G-4S in portrait & landscape */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  #map {
    height: 180px;
  }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #map {
    height: 180px;
  }
}

/* iPhone 6 in portrait & landscape  */
@media only screen
and (min-width : 375px)
and (max-width : 667px) {
  #map {
    height: 300px;
  }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  #map {
    height: 300px;
  }
}

/* iPad in portrait & landscape */
@media only screen
and (min-width : 768px)
and (max-width : 1280px)  {
  .ui.location > .floated {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
    width: 100%;
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .ui.location > .floated {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
    width: 100%;
  }
}

/* iPad in portrait */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
  .post.detail > .column {
    width: 100% !important;
  }

  .ui.top.menu {
    font-size: 90.6% !important;
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .post.detail > .column {
    width: 100% !important;
  }

  .ui.top.menu {
    font-size: 90.6% !important;
  }
}

.percentage.message {
  padding: 5px;
  box-shadow: none !important;
}

.carousel > img {
  display: block;
  max-height: 230px !important;
}

.ad > a > img {
  border-radius: 6px 6px 6px 6px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.ui.horizontal.header.divider:before {
  background-image: none !important;
}

.ui.horizontal.header.divider:after {
  background-image: none !important;
}

.ui.form.loading:before {
  background: transparent !important;
}

.ui.directions.segment {
  font-size: 90%;
}
