.loading {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.85);
  color: white !important;
}

.loading-wrap {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.loading-wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.loading-wrap .fade-in.spinner {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: -10px;
  bottom: 0;

  .wordpress {
    background: rgba(252, 58, 48, 1);
  }
}

.loading-appear {
  opacity: 0.01;
  transition: opacity .4s ease-in;
}

.loading-appear.loading-appear-active {
  opacity: 1;
}

.loading-appear {
  opacity: 0.01;
  transition: opacity .4s ease-in;
}

.loading-appear.loading-appear-active {
  opacity: 1;
}
