#nearby-container {
  position: relative;
}

#nearby {
  & {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    user-select: none;
  }
}

.ui.mini.serachbox {
  position: absolute !important;
  top: 60px;
  left: 15px;

  .ui.menu {
    position: absolute;
    top: 5px;
    left: 0;
  }
}

.ui.serachbox {
  position: absolute !important;
  top: 60px;
  left: 15px;

  .ui.menu {
    position: absolute;
    top: 70px;
    left: 0;
  }
}

.green.pin {
  background: rgba(45, 177, 30, 1);
  border-radius: 50% 50% 50% 1%;
  border: 3px solid rgba(40, 167, 30, 0.1);

  user-select: none;
  touch-callout: none;

  margin-top: -35px;
  margin-left: -15px;
}
.green.pin:after {
  background: rgba(211, 255, 175, 1);
  margin: 5px 0 0 5px;
}

.green.pin.open {
  border-radius: 50% 50% 50% 50%;
  border: 3px solid rgba(250, 1, 1, 0.6);
  background: rgba(255, 255, 255, 0.3);
}
.green.pin.open:after {
  background: rgba(250, 1, 1, 0.6);
}

.green.pin.hover {
  border-radius: 50% 50% 50% 50%;
  border: 3px solid rgba(249, 179, 38, 1);
  background: rgba(255, 255, 255, 0.3);
}
.green.pin.hover:after {
  background: rgba(249, 179, 38, 1);
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.shadow {
  background: #d6d4d4;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
}

.xpulse {
  background: transparent;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -7px;
  transform: rotateX(55deg);
  z-index: -2;
}
.xpulse:not(.open):after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px rgba(18, 140, 58, 0.4);
  animation-delay: 1.1s;
}

.xpulse.hover {
  display: none;
}

.xpulse:after {
  box-shadow: 0 0 1px 2px #2db11e;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

.ui.box.tooltips {
  display: none;
  opacity: 0;

  transition: top 0.27s cubic-bezier(0.485, 1.650, 0.545, 0.835);
}

.ui.box.tooltips.hover, .ui.box.tooltips.open {
  opacity: .99;
  float: right;
  display: block;
  font-size: 1rem;
  position: relative;
  top: -12rem;
  left: 8.97rem;
  width: 18rem;
  z-index: 1000;

  .popupbox {
    i.ui.icon.compass {
      line-height: 1.3rem;
    }

    .header {
      white-space: nowrap;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.ui.box.tooltips:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid rgba(255, 255, 255, 0.98);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.ui.box.tooltips.open {
  z-index: 1000;
  top: -16.1rem;
}

/* small screen */
@media only screen
and (max-width : 736px) {
  .ui.box.tooltips.open:after {
    border: none;
  }

  .ui.box.tooltips.open {
    z-index: 1000;
    top: -7em;
    left: 9rem;
  }
}
@media only screen
and (max-device-width : 736px) {
  .ui.box.tooltips.open:after {
    border: none;
  }

  .ui.box.tooltips.open {
    z-index: 1000;
    top: -7rem;
    left: 9.05rem;
  }
}

.extra.content {
  display: block;
}

.extra.content.hidden {
  display: none;
}

.search.simple {
  display: block;
}
@media only screen and (min-width : 1224px) {
  .search.simple {
    display: none;
  }
}

.search.autocomplete {
  display: none;
}
@media only screen and (min-width : 1224px) {
  .search.autocomplete {
    display: block;
  }
}
