<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if env.NODE_ENV != 'development' %}
      {% for style in assets.style %}
        <link rel="stylesheet" href="{{ style }}">
      {% endfor %}
    {% endif %}
  </head>
  <body>
    <div id="app">{{ appString | safe }}</div>

    {% if env.NODE_ENV != 'debug' %}
      {% for script in assets.script %}
        <script src="{{ script }}" defer></script>
      {% endfor %}
    {% endif %}
    {% if env.NODE_ENV == 'production' %}
    <script type="text/javascript">
      var headID = document.getElementsByTagName("head")[0];
      var cssNode = document.createElement('link');
      cssNode.type = 'text/css';
      cssNode.rel = 'stylesheet';
      cssNode.href = 'assets/fallback.css';
      cssNode.media = 'screen';
      headID.appendChild(cssNode);
    </script>
    {% endif %}
  </body>
</html>
