<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{ head.title | safe }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta property="fb:app_id" content="826505614102721" />
  <meta property="og:title" content="{{ head.title | safe }}" />
  <meta property="og:url" content="{{ pageUrl }}" /> {{ head.meta | safe }}
  <meta name="author" content="中華基督教網路發展協會 Chinese Christian Network Development Association" />
  <meta name="description" content="活動訊息佈告服務，提供最新基督教相關活動訊息，包含福音佈道、信徒聚會、研經學習、宣教差傳等十種分類，並可透過地圖、行事曆等方式瀏覽。" />
  <link rel="shortcut icon" href="/images/app/v3w/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/images/app/v3w/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/images/app/v3w/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/images/app/v3w/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/images/app/v3w/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/images/app/v3w/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/images/app/v3w/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/images/app/v3w/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/images/app/v3w/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/app/v3w/apple-touch-icon-180x180.png" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/images/app/v3w/apple-touch-icon-114x114.png" />
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-title" content="活動訊息佈告" />
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ siteUrl }}/rss" /> {% if env.NODE_ENV != 'development' %} {% for style in assets.style %}
  <link rel="stylesheet" href="{{ style }}" media="screen, projection" /> {% endfor %} {% endif %} {% if env.NODE_ENV == 'production' %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.2/outdatedbrowser.min.css" media="screen, projection"
  /> {% endif %} {{ stateFromServer | safe }}
</head>

<body>
  {% if env.NODE_ENV == 'production' %}
  <div id="outdated">
    <h6>您的瀏覽器已過時</h6>
    <p>要正常瀏覽本網站請升級您的瀏覽器。 <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/tw">現在升級​​</a></p>
    <p class="last"> <a href="#" id="btnCloseUpdateBrowser" title="關閉"> &times; </a> </p>
  </div>
  {% endif %}
  <div id="app">{{ appString | safe }}</div>
  <script src="//maps.google.com/maps/api/js?libraries=places&sensor=false"></script>
  {% if env.NODE_ENV == 'production' %}
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript">
    var headID = document.getElementsByTagName("head")[0];
    var cssNode = document.createElement('link');
    cssNode.type = 'text/css';
    cssNode.rel = 'stylesheet';
    cssNode.href = '/assets/fallback.css';
    cssNode.media = 'screen, projection';
    headID.appendChild(cssNode);

  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.2/outdatedbrowser.min.js"></script>
  <script>
    //event listener form DOM ready
    function addLoadEvent(func) {
      var oldonload = window.onload;
      if (typeof window.onload !== 'function') {
        window.onload = func;
      } else {
        window.onload = function () {
          if (oldonload) {
            oldonload();
          }
          func();
        }
      }
    }
    //call function after DOM ready
    addLoadEvent(function () {
      outdatedBrowser({
        bgColor: '#f25648',
        color: '#ffffff',
        lowerThan: 'transform',
        languagePath: ''
      })
    });

  </script>
  {% endif %} {% if env.NODE_ENV != 'debug' %} {% for script in assets.script %}
  <script src="{{ script }}"></script>
  {% endfor %} {% endif %}
</body>

</html>
