

:root {
--blue: #4A90E2;
--red: #D0021B;
--grey: #DCE0E0;
--dark-grey: #565A5C;
--white: #FFF;
--yellow: #FFFCE9;
--green: #59A644;

  *:focus {
    outline: none;
  }
}

.DayPicker {
  font-family: 'Helvetica Neue', Arial, Verdana, 'PingFang TC', 'PingFang SC', 'Lantinghei TC', 'Lantinghei SC', 'Heiti TC', 'Heiti SC', 'Noto Sans CJK TC', 'Noto Sans CJK SC', 'Hiragino Kaku Gothic ProN', 'PMingLiU-ExtB', 'PMingLiU', sans-serif !important;
  font-size: 100%;
  position: relative;
  max-width: 500px;
  border: none;
  border-radius: 1rem 1rem 0 0;
  background: rgba(245, 115, 47, 0.8);
  margin: 0 auto;
  padding: 0;

  *:focus {
    outline: none;
  }
}

.DayPicker-Month {
  display: table;
  width: 100%;
  margin: 0 auto;
  border: none;
  user-select: none;
}

.DayPicker-Body {
  display: table-row-group;
  background: rgba(255, 255, 255, 0.90);
}

.DayPicker-Caption {
  display: table-caption;
  text-align: center;
  font-size: 160%;
  line-height: 4rem;
  width: 100%;
  height: 4rem;
  color: white;
  background: transparent;
}

.DayPicker-NavButton {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  background-color: rgba(255, 255, 255, 0.86);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  margin: 0.6rem 0.6rem;
  color: rgba(30, 30, 30, 0.6);
  user-select: none;
}

.DayPicker-NavButton--prev {
  font-family: Icons;
  line-height: 2.563rem; /* MAGIC */
  left: 0.1rem;
}

.DayPicker-NavButton--next {
  font-family: Icons;
  line-height: 2.563rem; /* MAGIC */
  right: 0.1rem;
}

.DayPicker-NavButton--prev:before {
  content: '\f053';
  font-size: 150%;
  font-weight: bold;
  padding-left: 0.53rem; /* MAGIC */
}

.DayPicker-NavButton--next:before {
  content: '\f054';
  font-size: 150%;
  font-weight: bold;
  padding-left: 0.76rem; /* MAGIC */
}

.DayPicker-Weekdays {
  display: table-header-group;
  width: 100%;
  font-size: 120%;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  background: transparent;
  > div {
    display: table-row;
  }
}

.DayPicker-Weekday {
  display: table-cell !important;
  text-align: center;
  height: 2rem;
}

.DayPicker-Week {
  display: table-row;
}

.DayPicker-NavBar {
  position: absolute;
  left: 0;
  right: 0;
}

.DayPicker-Day {
  display: table-cell;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  height: 3rem;
  font-size: 140%;
  &:focus {
    outline-width: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .DayPicker-Day {
    height: 3.7rem;
  }
}

@media only screen and (min-width: 1680px) {
  .DayPicker-Day {
    height: 4rem;
  }
}

.daybox > .event {
  margin-top: -8px;
}

.event-started:after {
  content: "";
  display: block;
  max-width: 0;
  height: 0;
  margin: 0 auto;
  margin-bottom: -16px;
  border: 4px solid rgba(251, 22, 0, 0.48);
  border-radius: 50%;
}

.DayPicker-Day--selected {
  outline: none;
  .event-started:after {
    border: 4px solid rgba(255, 255, 255, 0.48);
  }
}

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

.DayPicker-Day--has-events-lv0:not(.DayPicker-Day--outside) {
  background-color: var(--white);
}

.DayPicker-Day--has-events-lv1:not(.DayPicker-Day--outside) {
  background-color: var(--yellow);
}

.DayPicker-Day--has-events-lv2:not(.DayPicker-Day--outside) {
  background-color: color(var(--yellow) lightness(98%));
}

.DayPicker-Day--has-events-lv3:not(.DayPicker-Day--outside) {
  background-color: color(var(--yellow) lightness(92%));
}

.DayPicker-Day--has-events-lv4:not(.DayPicker-Day--outside) {
  background-color: color(var(--yellow) lightness(86%));
}

.DayPicker-Day--outside {
  cursor: default;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0);
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: var(--white);
  background-color: orange;
  .event-started {
    color: white;
    text-shadow: none;
  }
}

.DayPicker-Day--today {
  color: var(--blue);
  font-weight: 500;
}

.DayPicker-Day--selected {
  .DayPicker-Day--today {
    color: rgba(255, 255, 255, 0.5);
  }
}

.DayPicker-Day--disabled {
  color: var(--grey);
  cursor: default;
  background-color: color(var(--grey) lightness(20%));
}

.DayPicker-Day--sunday {
  color: var(--red);
}

.DayPicker-Day--saturday {
  color: var(--green);
}
