$blue: #4A90E2;
$red: #D0021B;
$grey: #DCE0E0;
$dark-grey: #565A5C;
$white: #FFF;
$yellow: #FFFCE9;
$green: #59A644;

$font: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$font-head: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace: Inconsolata, Menlo, Consolas, monospace !important;

.DayPicker {
  font-family: $font;
  font-size: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 0;
  margin-top: 1rem;
  margin-left: -2rem;
  margin-right: -2rem;

  &:focus {
    outline-width: 0;
  }
}

.DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0 1rem;
}

.DayPicker-NavBar {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 .5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.DayPicker-NavButton {
  position: absolute;
  width: 2.3rem;
  height: 2.3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.DayPicker-NavButton--prev {
  left: -1rem;
  background-image: url("./assets/prev.svg");
}

.DayPicker-NavButton--next {
  right: -1rem;
  background-image: url("./assets/next.svg");
}


.DayPicker-Caption {
  font-family: $font-head;
  font-size: 2rem;
  line-height: 2.3rem;
  display: table-caption;
  height: 2.3rem;
  text-align: center;
}

.DayPicker-Weekdays {
  font-family: $font-head;
  display: table-header-group;
  > div {
    display: table-row;
  }
}

.DayPicker-Weekday {
  display: table-cell;
  padding: .5rem;
  font-size: 1em;
  text-align: center;
}

.DayPicker-Body {
  display: table-row-group;
}

.DayPicker-Week {
  display: table-row;
}

.DayPicker-Day {
  display: table-cell;
  padding: 1.4rem 1.8rem;
  border-radius: 0;
  border: none;
  background-color: $white;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;

  &:focus {
    outline-width: 0;
  }
}


/* iPhone 2G-4S in portrait & landscape */
@media only screen
and (min-width : 320px)
and (max-width : 768px) {
  .DayPicker-Day {
    font-size: 1.3rem !important;
    padding: .2rem .6rem !important;
  }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .DayPicker-Day {
    font-size: 1rem !important;
    padding: .3rem .7rem !important;
  }
}

/* iPhone 6 in portrait & landscape  */
@media only screen
and (min-width : 375px)
and (max-width : 667px) {
  .DayPicker-Day {
    font-size: 1.6rem !important;
    padding: .3rem .7rem !important;
  }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .DayPicker-Day {
    font-size: 1.6rem !important;
    padding: .3rem .7rem !important;
  }
}

/* iPhone 6 Plus in portrait & landscape */
@media only screen
and (min-width : 414px)
and (max-width : 736px) {
  .DayPicker-Day {
    font-size: 1.7rem !important;
    padding: .4rem .8rem !important;
  }
}
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  .DayPicker-Day {
    font-size: 1.7rem !important;
    padding: .4rem .8rem !important;
  }
}

/* iPad in portrait & landscape */
@media only screen
and (min-width : 768px)
and (max-width : 1280px)  {
  .DayPicker-Day {
    font-size: 1.3rem !important;
    padding: 1.2rem 1.3rem !important;
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .DayPicker-Day {
    font-size: 1.3rem !important;
    padding: 1.2rem 1.3rem !important;
  }
}

/* iPad in portrait */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
  .DayPicker-Day {
    font-size: 1.3rem !important;
    padding: 0.9rem 1.5rem !important;
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .DayPicker-Day {
    font-size: 1.3rem !important;
    padding: 0.9rem 1.5rem !important;
  }
}

.event-started:after {
  margin-bottom: -8px;
  content: "";
  display: block;
  width: 100%;
  height: 0;
  color: rgba(0, 0, 77, 0.6);
  background: white;
  border: 4px solid rgba(251, 22, 0, 0.1);
  border-radius: 100%;
}

.event-none {
}

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

.DayPicker-Day--has-events-lv0:not(.DayPicker-Day--outside) {
  background-color: $white;
}

.DayPicker-Day--has-events-lv1:not(.DayPicker-Day--outside) {
  background-color: $yellow;
}

.DayPicker-Day--has-events-lv2:not(.DayPicker-Day--outside) {
  background-color: color($yellow lightness(98%));
}

.DayPicker-Day--has-events-lv3:not(.DayPicker-Day--outside) {
  background-color: color($yellow lightness(92%));
}

.DayPicker-Day--has-events-lv4:not(.DayPicker-Day--outside) {
  background-color: color($yellow lightness(86%));
}

.DayPicker-Day--outside {
  cursor: default;
  color: $white;
  background-color: rgba(255, 255, 255, 0);
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: $white;
  background-color: orange;
  border-radius: 0;
  .event-started {
    color: white;
    text-shadow: none;
  }
}

.DayPicker-Day--today {
  color: $blue;
  font-weight: 500;
}

.DayPicker-Day--disabled {
  color: $grey;
  cursor: default;
  background-color: color($grey lightness(20%));
}

.DayPicker-Day--sunday {
  color: $red;
}

.DayPicker-Day--saturday {
  color: $green;
}
